@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

.apophis-address {
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 100;
}

.apophis-wallet-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--apophis-spacing, 8px) / 2);
}

.apophis-wallet-selector > .apophis-wallet-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--apophis-wallet-icon-width, 40px);
  height: var(--apophis-wallet-icon-height, 40px);
  border-radius: var(--apophis-roundness, 10px);
  background: var(--apophis-primary, hsl(276, 90%, 50%));
  color: var(--apophis-onprimary, white);
  cursor: pointer;
}

.apophis-wallet-selector > .apophis-wallet-choice.disabled {
  opacity: 75%;
  filter: brightness(75%);
  cursor: not-allowed;
}
